export PROJECT_ID="60504380"
export TF_USER="dc-tec"
export TF_PASS=$(az keyvault secret show --name gitlab-config-tf-pat --vault-name kv-lab-infra-prd-westeu | jq '.value')
export TF_URL="https://gitlab.com/api/v4/projects/${PROJECT_ID}/terraform/state/gitlab.tfstate"
export GITLAB_TOKEN=$(az keyvault secret show --name gitlab-terraform --vault-name kv-lab-infra-prd-westeu | jq --raw-output '.value')
